<h1 class="display-3"><%= link_to 'Hoods', '/neighbourhoods' %> > <u><%= @n.name %></u> > People</h1>

<ul class="card card-default list-group pull-down" id="contact-list">
  <% @n.people.each do |p| %>
      <li class="list-group-item">
          <div class="row w-100">
              <div class="col-12 text-center text-sm-left cursor-pointer" >
                    <label class="name lead bolder"><%= link_to p.name, p  %></label>
                    <br>
                    <br>
                    <span class="text-muted small text-truncate"><b><%= link_to 'Vehicles', p  %>: </b><%= p.vehicles.count %></span>
              </div>
          </div>
      </li>
  <% end %>
</ul>

<%= link_to '< Go Back', @n %>

