<h1 class="display-3"><%= link_to 'Owners', '/owners' %> > <u><%= @p.name %></u></h1>

<div class="card card-default  row">
  <div class="col-md-12">
    <div class="col-12 text-center text-sm-left cursor-pointer padding-top-30 padding-bottom-30" >
      <label class="name lead bolder"><b>Name:</b> <%= @p.name %></label>
      <br />
      <label class="name lead bolder"><b>Age:</b> <%= @p.age %></label>
      <br />
      <label class="name lead bolder"><b>Neighbourhood:</b> <%= link_to @p.neighbourhood.name, @p.neighbourhood %></label>
      <br />
      <label class="name lead bolder"><b>Vehicles:</b> </label>
      <ul>
        <% @p.vehicles.each do |vehicleOwnership| %>
          <% unless vehicleOwnership.vehicle.nil? %>
            <li><%= link_to vehicleOwnership.vehicle.name, vehicleOwnership.vehicle %></li>
           <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= link_to '< Back to Owners', @n %>