<h1 class="display-3"><%= link_to 'Vehicles', '/vehicles' %> > <%= @vehicle.name %></h1>

<div class="card card-default  row">
  <div class="col-md-12">
    <div class="col-12 text-center text-sm-left cursor-pointer padding-top-30 padding-bottom-30" >
      <label class="name lead bolder"><b>Model:</b> <%= @vehicle.name %></label> <br />
      <label class="name lead bolder"><b>Manufacturer:</b> <%= @vehicle.manufacturer %></label> <br />
      <label class="name lead bolder"><b>Origin:</b> <%= @vehicle.origin %></label>
    </div>
  </div>
</div>
